include readme.txt
include release-notes.txt
include doc/*.txt
include proc/release.txt
include CCCgistemp/__init__.py
include CCCgistemp/code/*.py
include CCCgistemp/tool/*.py
include CCCgistemp/tool/grid.html
include CCCgistemp/tool/grid.js
